@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

html,body{
    font: 15px/1.5 "Ubuntu",sans-serif;
    padding: 0;
    margin: 0px;
    background: #313131;
    
}

.slider{
    top: 0;
    width: 1350px;
    height: 675px;
    background: url(../images/img01.jpg);
    margin: 0px ;
    animation: slide 20s infinite;
    background-size: cover;
    
}
    
@keyframes slide{
    25{
        background: url(../images/img02.jpg);
         background-size: cover;
    }
    50%{
        background: url(../images/img03.jpg);
         background-size: cover;
    }
    75%{
        background: url(../images/img04.jpg);
         background-size: cover;
    }
    100%{
        background: url(../images/img01.jpg);
         background-size: cover;
    }
}

.box
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 85%;
    padding: 50px;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.9);
    border-radius: 10px;
    padding: 5%;
}

.box p
{
    margin: 0 0 30px;
    font-family: sans-serif;
    color: beige;
   
}

.inbox lable
{
   font-family: serif;
    color: aliceblue;
    padding: 0%;
    left: 0;
    font-size: 125%
}

.none
{
    width: 75%;
   color: mediumslateblue;
    padding: 1%;
}


.box .inbox [type = "date"]
{
    width: 75%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #ffff;
}

select
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid #ffff;
}

.box .inbox [type = "submit"]
{
    width: 75%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(3, 66, 47);
    background-color:#0077b3
}

header{
	background: #0D586A;
	color:#ffffff;
	z-index: 10;
	min-height: 70px;
	border-bottom: #dd3822 5px solid;
	position: fixed;
	width: 100%;


}
ul{
	margin:0;
	padding: 0;
}


/* Local*/
header a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px; 
}

header li{
	display: inline-block;
	padding: 0 20px 0 20px;
}
header #branding{
	float: left;
	font-size: 20px;
	
}
header #branding h1{
	margin: 0;
	
}
header nav{
	float: right;
	margin-top: -40px;
	font-weight: bold;
}
header .highlight{
	color: #dd3822;
	font-weight: bolder;
	letter-spacing: -3px;
}
header .current a{
	color:#ff8473;
	font-weight: bold;
	font-size:px;
}
header a:hover{
	color: #ff8473;
	border-top:#ff8473 3px solid;
	transition: 500ms;
}

footer{
	border-top: #dd3822 5px solid;
	position: relative;
	padding: 20px;
	padding-top: 20px;
	color: white;
	background-color: #0D586A;
	text-align: center; 
}


ul.breadcrumb {
    float: left;
    padding: 10px 16px;
    list-style: none;
   
}
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}

ul.breadcrumb2 {
    float: right;
    padding: 10px 16px;
    list-style: none;
   
}
ul.breadcrumb2 li {
    display: inline;
    font-size: 15px;
}
ul.breadcrumb2 li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb2 li a {
    color: white;
    text-decoration: none;
}
ul.breadcrumb2 li a:hover {
    color: white;
    text-decoration: underline;
}

.foll
{
    margin-right: 20px;

}